.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	box-sizing: border-box;
	padding-top: 0.5vw;
}

.Title {
	font-size: 1.75vw;
	color: white;
	align-self: center;
	text-align: center;
	padding-top: 5px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.moveText {
	font-size: 1.2vw;
	color: white;
	align-self: center;
	text-align: center;
	padding-bottom: 10px;
}

.chessboard {
	display: flex;
	flex-direction: column;
	border: 1px solid white;
}

.row {
	display: flex;
}

.square {
	width: 5vw;
	height: 5vw;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	box-sizing: border-box;
}

.white {
	background-color: white;
}

.black {
	background-color: #b58863;
}
.highlight-green,
.clicked {
	background-color: green;
}
.highlight-red,
.clickedTwo {
	background-color: rgb(255, 45, 45);
}
.highlight,
.highlight-green,
.highlight-red {
	border: 3px solid rgb(0, 140, 255);
	border-radius: 20px;
	box-sizing: border-box;
	background-clip: padding-box;
	border-width: -3px;
	box-shadow: 0px 0px 5px 3px rgb(0, 140, 255);
	transition: box-shadow 0.3s ease-out;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
	box-sizing: border-box;
	background-color: #181818;
}

.block {
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
}

.legend-row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 15px;
	color: white;
	gap: 2.7vw;
	font-size: 2vw;
}

.legend-col {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	padding-top: 5px;
	font-size: 2vw;
	gap: 4vw;
	margin-left: 2vw;
}
